.list-color a{
    color:rgb(255, 255, 255);

}

.name-color{
    color:rgb(216, 83, 85);
}

.parag-color{
    color:rgb(47, 157, 124);
}

.body-background-color{
    background-color: rgb(193, 212, 207);
}

.footer-color{
    background-color: white;
}